*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.2em;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgb(0, 15, 90) 0%, rgba(82, 0, 59, 0.978) 100%);
}
.containe{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-bottom: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
}
input{
    width: 100vh;
    padding: 13px;
    width: 300px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
}
#btn{
    padding: 13px;
    width: 320px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgb(247, 4, 4);
    font-weight: bold;
    font-size: 1em;
}

:hover#btn{
    cursor: pointer;
    background-color: rgb(226, 83, 83);
}

#resultado{
    width: 320px;
    height: 50px;
    background-color: white;
    border-radius: 7px;
    font-size: 0.9em;
    text-align: center;
    font-weight: 550;
}
